openxr_runtime/scripts/xr/OpenXR-SDK/
openxr_runtime/scripts/xr/OpenXR-SDK-Source/
openxr_runtime/scripts/xr/Vulkan-Headers/

tracker/mp_models/
tracker/config.json

__pycache__/
.vscode/
venv/
out/
packages/
build/

aethervr-x86_64-windows
aethervr-x86_64-linux
aethervr-aarch64-macos
