name: Release

on:
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build.yml

  release:
    runs-on: ubuntu-24.04
    needs: build

    steps:
      - uses: actions/checkout@v4

      - name: Download Windows build
        uses: actions/download-artifact@v4
        with:
          name: aethervr-x86_64-windows
          path: aethervr-x86_64-windows

      - name: Download Linux build
        uses: actions/download-artifact@v4
        with:
          name: aethervr-x86_64-linux
          path: aethervr-x86_64-linux

      - name: Download macOS build
        uses: actions/download-artifact@v4
        with:
          name: aethervr-aarch64-macos
          path: aethervr-aarch64-macos

      - name: Archive Windows build
        run: zip -r aethervr-x86_64-windows.zip aethervr-x86_64-windows

      - name: Archive Linux build
        run: zip -r aethervr-x86_64-linux.zip aethervr-x86_64-linux

      - name: Archive macOS build
        run: zip -r aethervr-aarch64-macos.zip aethervr-aarch64-macos

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create \
            -t "AetherVR $(date -Idate)" \
            -n "AetherVR Release $(date -Idate)" \
            "$(date -Idate)" \
            aethervr-x86_64-windows.zip \
            aethervr-x86_64-linux.zip \
            aethervr-aarch64-macos.zip
